<div class="jumbotron masthead">

    <div class="container">

        <p>Select a Calendar to Import</p>
    </div>
</div>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th><h6>Color</h6></th>
        <th><h3>Calendar Name</h3></th>
        <th><h6>Import</h6></th>
        <th><h6>Train as</h6></th>
    </tr>
    </thead>
    <tbody>
    <% @result.data.items.each do |cal| %>
        <tr>
            <td>
                <table id="colorsquare"
                       style="background: <%= cal.backgroundColor %>">
                </table>
            <td><%= cal.summary %></td>
            <td>
                <form id="googlecal" name="<%= cal.etag %>" action="/import/calendar" method="get">
                    <input type="submit" class="btn btn-primary btn-large" value="Import"/>
                    <input type="hidden" id="id" name="id" value="<%= cal.id %>"/>
                </form>
            </td>
            <td>
                <form action="/import/train" method="get">
                    <input type="submit" class="btn btn-danger btn-mini" value="Important"/>
                    <input type="hidden" name="id" value="<%= cal.id %>"/>
                    <input type="hidden" name="category" value="important"/>

                </form>
                <form action="/import/train" method="get">
                    <input type="submit" class="btn btn-mini" value="Not important"/>
                    <input type="hidden" name="id" value="<%= cal.id %>"/>
                    <input type="hidden" name="category" value="not"/>

                </form>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>


