<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Cal++' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'App_Name' %>">
    <%= stylesheet_link_tag 'docs', 'bootstrap', 'application', 'jquery-ui-1.8.13.custom', 'jquery.qtip', 'fullcalendar', 'bootstrap-responsive', :media => 'all' %>
    <%= javascript_include_tag 'http://code.jquery.com/jquery-1.6.3.js', 'jquery-ui-1.8.13.custom.min', 'fullcalendar.min', 'underscore', 'backbone', 'jquery.qtip-1.0.0-rc3.min', 'datetime', 'date', 'date_time', 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36903095-1']);
        _gaq.push(['_setDomainName', 'calplusplus.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <%= render 'layouts/navigation' %>
        </div>

        <div role="main" class="span9">
            <%= render 'layouts/messages' %>
            <%= yield %>
        </div>
    </div>
</div>
</body>
</html>